.banner .banner-title1{
    position: absolute;
    width: 600px;
    height: 500px;
    left: 845px;
    top: 270px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
    }

.banner .banner-title2{
    position: absolute;
    width: 600px;
    height: 500px;
    left: 845px;
    top: 340px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
    }
.banner .banner-title3{
        position: absolute;
        width: 600px;
        height: 500px;
        left: 845px;
        top: 410px;
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 65px;
        line-height: 76px;
        text-align: right;
        }
.banner .banner-description{
    position: absolute;
width: 450px;
height: 78px;
left: 990px;
top: 560px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 370;
font-size: 16px;
line-height: 26px;
text-align: right;
color: #444343;
}
.btn-primary{
    background-color: rgb(255, 94, 0);
    position: absolute;
    border-radius: 5px;
    font-weight: 700;
width: 160px;
height: 64px;
left: 1275px;
top: 670px;
color: white;
}
.failure {
    display: flex;
    position: absolute;
width: 569px;
height: 723.3px;
left: 206px;
top: 939px;
}
.failure .section-title{
font: 'Work Sans';
position: absolute;
font-weight: 700 ;
font-size: 40px;
width: 300px;
height: 400px;
left: 740px;
top: 160px;
}
.failure .section-content1{
    position: absolute;
width: 416px;
height: 400px;
left: 740px;
top: 280px;
font: 'Work Sans';

}
.failure .section-content2{
position: absolute;
width: 300px;
height: 400px;
left: 740px;
top: 340px;
font-family: 'Work Sans';
font-style: normal;
color: rgb(94, 90, 83);
text-align: justify;
}

.section-title{
    text-align: center;
    position: absolute;
width: 179px;
height: 47px;
left: 711px;
top: 1792.3px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 47px;
color: #151414;
}

.plan{
display: flex;
position: absolute;
top: 2000px;
}
.plan .skill-title{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 35px;
text-align: left;

}
.skill1{
    position: absolute;
width: 218px;
height: 197px;
left: 350px;
}
.skill2{
    position: absolute;
width: 218px;
height: 197px;
left: 640px;
}
.skill3{
    position: absolute;
width: 218px;
height: 197px;
left: 933px;
}
.skill4{
    position: absolute;
width: 218px;
height: 197px;
left: 1237px;
}

.watch{
    position: absolute;
width: 1140px;
height: 300px;
left: 230px;
top: 2350.26px;
background: url(pexels-ketut-subiyanto-4426515.jpg);
border-radius: 10px;
}


.mindset{
    font: 'Work Sans';
    font-size: 40px;
    color: #080808;
    font-weight: 700;
    left: 230px;
top: 2350.26px;
}
.contact-btn{
    position: absolute;
    width: 160px;
    height: 59.87px;
    left: 294px;
    top: 2573.39px;
    color: #F15B22;
}
.gradient{
    position: absolute;
width: 1121px;
height: 300px;
left: 230px;
top: 2350.26px;
background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%);
border-radius:150px;
}
.contact .mindset{
    position: absolute;
    width: 450px;
    height: 78px;
    left: 20px;
    top: 2450px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 370;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    color: #444343;
    }
